
.header-template-date {
  text-align: center;
  line-height: 15px;
}

.header-template-day-name {
  font-weight: bold;
}

.header-template-day {
  font-size: 14px;
  margin: 2px 0 4px;
}

.header-resource-template-content {
  position: relative;
}

.header-resource-avatar {
  max-height: 40px;
  max-width: 40px;
}

.header-resource-name {
  font-size: 14px;
}

.scheduler {
  width: 80vw;
}

.mbsc-schedule-column {
  padding: 0;
}

.mbsc-schedule-event-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 1px;
}

.mbsc-schedule-events.mbsc-ltr {
  left: 0;
  right: 0;
}

.mbsc-schedule-color, .mbsc-schedule-invalid {
  z-index: 0;
}

.mbsc-schedule-event {
  z-index: 0;
  box-sizing: content-box;
}

.mbsc-schedule-resource-group:first-child {
  border-left: 2px solid;
}

.mbsc-schedule-time-indicator {
  display: none;
}

.mbsc-schedule-resource-group {
  overflow: hidden;
}

.mbsc-schedule-resource {
  overflow: hidden;
  border-top: 1px solid;
  border-left: 1px solid;
}

.mbsc-schedule-resource:nth-child(1) {
  border-left: 0;
}

.mbsc-windows.mbsc-schedule-invalid {
  background-color: #bdc0c3;
}

.mbsc-windows.mbsc-schedule-time {
  text-transform: uppercase;
  top: 11px;
  font-size: 14px;
}

.mbsc-schedule-time-col.mbsc-ltr {
  text-align: center;
}

.mbsc-schedule-time-cont-inner {
  padding: 0;
  box-sizing: unset;
}

.mbsc-schedule-time {
  top: -0.5em;
}

.mbsc-schedule-grid-scroll {
  overflow-y: hidden;
}

.mbsc-schedule-fake-scroll-x, .mbsc-schedule-fake-scroll-y {
  display: none;
}

.mbsc-windows.mbsc-schedule-item {
  border-color: black;
}

.mbsc-windows.mbsc-schedule-column {
  border-color: black;
}
.mbsc-windows.mbsc-schedule-time-wrapper {
  border-color: black;
}

.mbsc-windows.mbsc-schedule-all-day-item:after, .mbsc-windows.mbsc-schedule-column,
.mbsc-windows.mbsc-schedule-item, .mbsc-windows.mbsc-schedule-resource,
.mbsc-windows.mbsc-schedule-resource-group, .mbsc-windows.mbsc-schedule-time-col,
.mbsc-windows.mbsc-timeline-column, .mbsc-windows.mbsc-timeline-day:after,
.mbsc-windows.mbsc-timeline-footer, .mbsc-windows.mbsc-timeline-footer-date,
.mbsc-windows.mbsc-timeline-header, .mbsc-windows.mbsc-timeline-header-column,
.mbsc-windows.mbsc-timeline-header-date, .mbsc-windows.mbsc-timeline-header-month,
.mbsc-windows.mbsc-timeline-header-week, .mbsc-windows.mbsc-timeline-resource,
.mbsc-windows.mbsc-timeline-resource-footer-cont, .mbsc-windows.mbsc-timeline-resource-header-cont,
.mbsc-windows.mbsc-timeline-row, .mbsc-windows.mbsc-timeline-row-date,
.mbsc-windows.mbsc-timeline-row-group:after, .mbsc-windows.mbsc-timeline-sidebar-footer-cont,
.mbsc-windows.mbsc-timeline-sidebar-header-cont, .mbsc-windows.mbsc-timeline-sidebar-resource,
.mbsc-windows.mbsc-timeline-slot-header, .mbsc-windows.mbsc-timeline-slots {
  border-color: black;
}

.mbsc-windows.mbsc-calendar-wrapper-fixed {
  border-bottom: none;
}

.mbsc-windows.mbsc-schedule-event-inner {
  color: var(--primary) !important;
  text-align: center;
  margin-top: 12px;
  font-weight: 700;
}

.container {
  padding-bottom: 30px;
  border: 2px solid;
}

.outer-container {
  padding: 30px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--box-border);
}

.mbsc-schedule-event-range {
  display: none;
}

app-schedule {
  text-align: center;
}

h1 {
  margin-bottom: 0px !important;
}

.mbsc-calendar-header-today {
  display: none;
}

.mbsc-calendar-month, .mbsc-calendar-year {
  color: var(--primary);
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-title {
  font-weight: 400;
}

.mbsc-schedule-item {
  pointer-events: none;
}

.mbsc-schedule-event-background::after {
  display: none;
}
