.header-template-container {
  padding: 10px;
}

.header-template-date {
  text-align: center;
  line-height: 20px;
}

.header-template-day-name {
  font-weight: bold;
}

.header-template-day {
  font-size: 12px;
}

.header-template-task {
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 12px;
  line-height: 22px;
  padding: 0 10px;
  border-radius: 12px;
  color: #555;
}

.header-resource-template-content {
  position: relative;
}

.header-resource-name {
  font-size: 14px;
}

.mbsc-schedule-column {
  padding: 0;
}

.mbsc-schedule-event {
  z-index: 0;
}

.mbsc-schedule-color,
.mbsc-schedule-invalid {
  z-index: 1;
  background: grey;
  border-left: 2px solid black;
  /* border-right: 2px solid black; */
  bottom: -0.5em;
  box-sizing: content-box;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  height: 10.5% !important;
  top: 44.8% !important;
  width: 97% !important;
}

.router {
  display: block !important;
  padding: 128px !important;
}

.mbsc-schedule-grid-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.mbsc-schedule-time {
  font-size: 0.75em;
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  position: relative;
  top: -0.7em;
}

.mbsc-schedule-time-end {
  bottom: -1.5em;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
}

.mbsc-eventcalendar {
  padding: 3rem;
  box-shadow: var(--box-shadow);
}
.mbsc-schedule-item {
  border-top: 0px solid;
  border: 1px solid black;
  height: 3.125em;
  position: relative;
}

.mbsc-schedule-events.mbsc-ltr {
  left: 0;
  right: 0;
}
.mbsc-schedule-events {
  height: 100%;
  position: absolute;
}
.mbsc-schedule-column.mbsc-ltr {
  border-left-style: solid;
  border-left-width: 0px;
}
.mbsc-schedule-resource-group.mbsc-ltr {
  border-left-style: solid;
  border-left-width: 0px;
}
.mbsc-schedule-column-inner {
  position: relative;
  left: 2px !important;
}
.mbsc-schedule-resource {
  border: 1px solid black;
  border-top: 3px solid black;
}
.mbsc-schedule-time-col.mbsc-ltr {
  border-right: 1px solid black;
  border-left: 3px solid black;
  border-bottom: 1px solid black;
}
.header-template-container {
  padding: 10px;
  border-left: 1px solid black;
  border-right: 2px solid black;
}
.mbsc-schedule-resource-title {
  font-size: 0.875em;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}
.mbsc-schedule-resource-group {
  box-sizing: border-box;
  flex-basis: 16em;
}
mbsc-calendar-today {
  display: none;
}
.mbsc-flex {
  transform: translateX(0px) !important;
}

.mbsc-schedule-fake-scroll-y {
  max-height: 0px;
  overflow-y: hidden;
}
.mbsc-calendar-controls {
  border: 3px solid black;
  border-bottom: none;
}
.mbsc-schedule-wrapper {
  overflow: auto;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
