<h1>{{ "schedule.title" | translate }}</h1>
<div class="outer-container">
  <div class="container">
  
    <mbsc-eventcalendar
      (onEventDoubleClick)="onEventDoubleClick($event)"
      (onCellDoubleClick)="onCell($event)"
      (onCellRightClick)="onCellRightClick($event)"
      class="scheduler"
      [view]="view"
      [data]="myEvents"
      groupBy="date"
      [resources]="myResources"
      [resourceTemplate]="resourceTemp"
      [dayTemplate]="dayTemp"
      [invalid]="invalid"
    >
      <ng-template #resourceTemp let-resource>
        <div class="header-resource-template-content">
          <div class="header-resource-name">{{ resource.name | uppercase }}</div>
        </div>
      </ng-template>
    
      <ng-template #dayTemp let-day>
        <div class="header-template-container">
          <div class="header-template-date">
            <div class="header-template-day-name">
              {{ formatDate("DDD", day.date) }}
            </div>
            <div class="header-template-day">
              {{ formatDate("DD", day.date) }}
            </div>
          </div>
        </div>
      </ng-template>
    </mbsc-eventcalendar>
  
  </div>
</div>
