
<div class="form-container">
    <h1>{{ "register.register" | translate }}</h1>
    <h3>{{ "register.subHeading" | translate }}</h3>

    <form [formGroup]="registerForm" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <mat-form-field class="row" appearance="fill">
            <mat-label>{{ "register.fullName" | translate }}</mat-label>
            <input
                matInput
                type="text"
                formControlName="fullName">
            <mat-error
                *ngIf="registerForm.controls['fullName'].hasError('required')">
                {{ "register.errorRequired" | translate }}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['fullName'].hasError('fullNameNotValid')">
                {{ "register.errorInvalidName" | translate }}
            </mat-error>
        </mat-form-field>
    <br>
        <mat-form-field class="row" appearance="fill">
            <mat-label>{{ "register.username" | translate }}</mat-label>
            <input
                matInput
                type="text"
                formControlName="username">
            <mat-error
                *ngIf="registerForm.controls['username'].hasError('required')">
                {{ "register.errorRequired" | translate }}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['username'].hasError('usernameNotValid')">
                {{ "register.errorInvalidUsername" | translate }}
            </mat-error>
        </mat-form-field>
    <br>
        <mat-form-field class="row" appearance="fill">
            <mat-label>Email:</mat-label>
            <input
                matInput
                type="email"
                formControlName="email">
            <mat-error
                *ngIf="registerForm.controls['email'].hasError('required')">
                {{ "register.errorRequired" | translate }}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['email'].hasError('email')">
                {{ "register.errorInvalidEmail" | translate }}
            </mat-error>
        </mat-form-field>
    <br>
        <mat-form-field class="row" appearance="fill">
            <mat-label>{{ "register.password" | translate }}</mat-label>
            <input
                matInput
                type="password"
                #password
                formControlName="password">
            <!-- <mat-error *ngIf="password">Password not valid</mat-error> -->
            <mat-error
                *ngIf="registerForm.controls['password'].hasError('required')">
                {{ "register.errorRequired" | translate }}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['password'].hasError('passwordNotValid')">
                {{ "register.errorInvalidPassword" | translate }}
            </mat-error>
        </mat-form-field>
    <br>
        <mat-form-field class="row" appearance="fill">
            <mat-label>{{ "register.confirmPassword" | translate }}</mat-label>
            <input
                matInput
                type="password"
                formControlName="confirmPassword"
                pattern="{{ password.value }}">
            <mat-error
                *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                {{ "register.errorRequired" | translate }}
            </mat-error>
            <mat-error
                *ngIf="registerForm.controls['confirmPassword'].hasError('pattern')">
                {{ "register.errorInvalidConfirmPassword" | translate }}
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button class="btn-primary"
        [class.btn-secondary]="loading"
        [disabled]="loading">
        Submit
        <div [class.spinner]="loading"></div>
        </button>
        <hr>
    </form>
</div>
