<mat-card>
  <mat-card-content>
    <h1>{{ "editService.title" | translate }}</h1>
    <form [formGroup]="editServiceForm" (ngSubmit)="onSubmit()">
      <div class="form-content">
        <div class="form-col">
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.fullName" | translate }}</mat-label>
            <input matInput type="text" formControlName="fullName" required />
            <mat-error *ngIf="this.editServiceForm.controls['fullName'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="this.editServiceForm.controls['fullName'].hasError('fullNameNotValid')">
              {{ "editService.errorInvalidName" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.plateNumber" | translate }}</mat-label>
            <input matInput type="text" formControlName="plateNumber" required />
            <mat-error *ngIf="this.editServiceForm.controls['plateNumber'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="this.editServiceForm.controls['plateNumber'].hasError('plateNumberNotValid')">
              {{ "editService.errorInvalidPlateNumber" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.carMake" | translate }}</mat-label>
            <input matInput type="text" formControlName="carMake" required />
            <mat-error *ngIf="this.editServiceForm.controls['carMake'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.carModel" | translate }}</mat-label>
            <input matInput type="text" formControlName="carModel" required />
            <mat-error *ngIf="this.editServiceForm.controls['carModel'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.description" | translate }}</mat-label>
            <input matInput type="text" formControlName="description" required />
            <mat-error *ngIf="this.editServiceForm.controls['description'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-col">
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.date" | translate }}</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker" [matDatepickerFilter]="noWeekendsFilter" required />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="this.editServiceForm.controls['date'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="this.editServiceForm.controls['date'].hasError('matDatepickerFilter')">
              {{ "editService.errorInvalidDate" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.hour" | translate }}</mat-label>
            <mat-select formControlName="hour" required>
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{ hour }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.editServiceForm.controls['hour'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="this.editServiceForm.controls['hour'].hasError('hourNotValid')">
              {{ "editService.errorInvalidHour" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.WS" | translate }}</mat-label>
            <input matInput type="text" formControlName="WS" required />
            <mat-error *ngIf="this.editServiceForm.controls['WS'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="this.editServiceForm.controls['WS'].hasError('WSNotValid')">
              {{ "editService.errorInvalidWS" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.workloadEstimate" | translate }}</mat-label>
            <input matInput type="text" formControlName="workloadEstimate" required />
            <mat-error *ngIf="this.editServiceForm.controls['workloadEstimate'].hasError('required')">
              {{ "editService.errorRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="this.editServiceForm.controls['workloadEstimate'].hasError('workloadEstimateNotValid')">
              {{ "editService.errorInvalidWorkloadEstimate" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ "editService.notes" | translate }}</mat-label>
            <input matInput type="text" formControlName="notes" />
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions>
        <button type="button" class="btn-secondary" [disabled]="loading" (click)="onCancel()">
          {{ "editService.cancelButton" | translate }}
          <div [class.spinner]="loading"></div>
        </button>
        <button type="submit" class="btn-primary" [class.btn-secondary]="loading" [disabled]="loading">
          {{ "editService.saveButton" | translate }}
          <div [class.spinner]="loading"></div>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
