<div class="recovery-container form-container">
  <h2 class="title">{{ "recovery.title" | translate }}</h2>
  <h4 class="subtitle">{{ "recovery.subtitle" | translate }}</h4>

  <form [formGroup]="recoveryForm" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <mat-form-field appearance="fill" class="mail-field">
      <mat-label>{{ "recovery.email-label" | translate }}</mat-label>
      <input matInput type="text" formControlName="email" required class ="email-form"/>
      <mat-error 
      *ngIf="recoveryForm.controls['email'].hasError('required')">
      {{ "recovery.errorRequired" | translate }}
      </mat-error>
      <mat-error 
      *ngIf="!recoveryForm.controls['email'].hasError('required') && recoveryForm.controls['email'].hasError('emailNotValid')">
      {{ "recovery.errorInvalidEmail" | translate }}
      </mat-error>
    </mat-form-field>
      <div class="action">
        <button
          type="submit"
          class="btn-primary"
          [class.btn-secondary]="loading"
          [disabled]="loading"
        >
          {{ "recovery.button" | translate }}
          <div [class.spinner]="loading"></div>
        </button>
      </div>
      <hr>
  </form>
</div>
