<mat-drawer #drawer mode="side" disableClose="false" opened="true">
  <div class="menu" *ngIf="isLoggedIn">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <div
          class="menu-item"
          routerLinkActive="selected"
          routerLinkActive="selected"
        >
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h4 mat-line *ngIf="isExpanded">
            {{ "navigation.dashboard" | translate }}
          </h4>
        </div>
      </a>
      <a mat-list-item routerLink="/add-service">
        <div class="menu-item" routerLinkActive="selected">
          <mat-icon mat-list-icon>post_add</mat-icon>
          <h4 mat-line *ngIf="isExpanded">
            {{ "navigation.service" | translate }}
          </h4>
        </div>
      </a>
      <a mat-list-item routerLink="/schedule">
        <div class="menu-item" routerLinkActive="selected">
          <mat-icon mat-list-icon>schedule</mat-icon>
          <h4 mat-line *ngIf="isExpanded">
            {{ "navigation.schedule" | translate }}
          </h4>
        </div>
      </a>
      <a mat-list-item routerLink="/logs/upcoming">
        <div class="menu-item" routerLinkActive="selected">
          <mat-icon mat-list-icon>event_note</mat-icon>
          <h4 mat-line *ngIf="isExpanded">
            {{ "navigation.upcoming" | translate }}
          </h4>
        </div>
      </a>
      <a mat-list-item routerLink="/logs/history">
        <div class="menu-item" routerLinkActive="selected">
          <mat-icon mat-list-icon>history</mat-icon>
          <h4 mat-line *ngIf="isExpanded">
            {{ "navigation.history" | translate }}
          </h4>
        </div>
      </a>
    </mat-nav-list>
    <div class="copyright" *ngIf="isExpanded">
      <mat-icon mat-list-icon>copyright</mat-icon>
      <span>Ausy Romania, 2023</span>
    </div>
  </div>
</mat-drawer>
