.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
}

.selected {
    color: var(--secondary);
}

.menu-item h4,
.copyright span {
    margin: 0;
    margin-left: 5px;
}

.menu {
    position: sticky; 
    top: 0px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 50px);
    flex-grow: 1;
    z-index: 100;
    bottom: 0px;
    overflow-y: auto;
}

.mat-drawer {
    top: 0px;
    position: sticky;
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--primary);
    border: none;
    bottom: 0px;
    overflow-y: auto;
}

.copyright {
    position: sticky;
    color: white;
    padding: 0 16px;
    margin-bottom: 16px;
    white-space: nowrap;
    top: 0px;
}

.copyright .mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
}

.copyright span {
    font-size: 12px;
}

.copyright .mat-icon,
.copyright span {
    vertical-align: middle;
}