<mat-card class="dashboard-card">
    <mat-card-header class="card-header">
      <mat-card-content>20 Mar 2023</mat-card-content>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-card-content class="card-field">Plate number :</mat-card-content>
        <mat-card-content class="card-field">Full Name :</mat-card-content>
        <mat-card-content class="card-field">WS :</mat-card-content>
        <mat-card-content class="card-field" class="card-content">Estimate :</mat-card-content>
    </mat-card-content>

    <mat-card-actions class="card-buttons">
        <mat-icon
            class="menu-icon card-icon"
            aria-hidden="false"
            >edit
        </mat-icon>
        <mat-icon
            class="menu-icon card-icon card-icon-right"
            aria-hidden="false"
            >delete_outline
        </mat-icon>
    </mat-card-actions>
</mat-card>
