<mat-card class="dashboard-card">
    <mat-card-header class="card-header">
      <mat-card-content>{{ reservation.date }}</mat-card-content>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-card-content class="card-field">{{ "dashboardCard.plateNumber" | translate }}{{ reservation.plateNumber }}</mat-card-content>
        <mat-card-content class="card-field">{{ "dashboardCard.fullName" | translate }}{{ reservation.fullName }}</mat-card-content>
        <mat-card-content class="card-field">{{ "dashboardCard.ws" | translate }}{{ reservation.workStation }}</mat-card-content>
        <mat-card-content class="card-field" class="card-content">{{ "dashboardCard.estimate" | translate }}{{ reservation.estimate }}</mat-card-content>
    </mat-card-content>

    <mat-card-actions class="card-buttons">
        <mat-icon
            class="menu-icon card-icon"
            aria-hidden="false"
            (click)="onEdit()"
            >edit
        </mat-icon>
        <mat-icon
            class="menu-icon card-icon card-icon-right"
            aria-hidden="false"
            (click)="onDelete()"
            >delete_outline
        </mat-icon>
    </mat-card-actions>
</mat-card>
