<div class="tooltip">
  <div>
    <p>First name :</p>
    <p>Last name :</p>
    <p>Plate no. :</p>
    <p>Car make :</p>
    <p>Car model :</p>
    <p>Date :</p>
    <p>Hour :</p>
    <p>WS :</p>
    <p>Estimate :</p>
    <p>Description :</p>
  </div>
  <div>
    <p>{{ data?.firstName }}</p>
    <p>{{ data?.lastName }}</p>
    <p>{{ data?.plate }}</p>
    <p>{{ data?.carMake }}</p>
    <p>{{ data?.carModel }}</p>
    <p>{{ data?.date }}</p>
    <p>{{ data?.hour }}</p>
    <p>{{ data?.ws }}</p>
    <p>{{ data?.estimate }}</p>
    <p>{{ data?.description }}</p>
  </div>

</div>
