
<div class="changePassword">
  <h1>{{ "changePassword.title" | translate }}</h1>

  <form [formGroup]="changePasswordForm" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <mat-form-field class="row" appearance="fill">
          <mat-label>{{ "changePassword.password" | translate }}</mat-label>
          <input
              matInput
              type="password"
              #password
              formControlName="password">
          <mat-error
              *ngIf="changePasswordForm.controls['password'].hasError('required')">
              {{ "register.errorRequired" | translate }}
          </mat-error>
          <mat-error
              *ngIf="changePasswordForm.controls['password'].hasError('passwordNotValid')">
              {{ "register.errorInvalidPassword" | translate }}
          </mat-error>
      </mat-form-field>
  <br>
      <mat-form-field class="row" appearance="fill">
          <mat-label>{{ "changePassword.confirmPassword" | translate }}</mat-label>
          <input
              matInput
              type="password"
              formControlName="confirmPassword"
              pattern="{{ password.value }}">
          <mat-error
              *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')">
              {{ "register.errorRequired" | translate }}
          </mat-error>
          <mat-error
              *ngIf="changePasswordForm.controls['confirmPassword'].hasError('pattern')">
              {{ "register.errorInvalidConfirmPassword" | translate }}
          </mat-error>
      </mat-form-field>
  <br>
      <button mat-raised-button class="btn-primary">{{ "changePassword.button" | translate }}</button>
  </form>
</div>
