<div class="snackbar-view">
  <div class="view-row">
    <p class="view-field">First name : {{ data.firstName }}</p>
    <p class="view-field">Last name : {{ data.lastName }}</p>
  </div>
  <div class="view-row">
    <p class="view-field">Plate no. : {{ data.plate }}</p>
    <p class="view-field">Car make : {{ data.carMake }}</p>
    <p class="view-field">Car model : {{ data.carModel }}</p>
  </div>
  <div class="view-row">
    <p class="view-field medium-width">Date : {{ data.date  | date: 'dd/MM/yyyy'}}</p>
    <p class="view-field medium-width">Hour : {{ data.hour }}</p>
    <p class="view-field view-field-ws">WS : {{ data.ws }}</p>
    <p class="view-field medium-width">Estimate : {{ data.estimate }}</p>
  </div>
  <div class="view-field view-field-description">
    <p>Description :</p>
    <ul>
      <li>{{ '-&nbsp;&nbsp;&nbsp;&nbsp;' + data.description }}</li>
    </ul>
  </div>
  <p class="view-field view-field-close" (click)="closeSnackBar()">Close</p>
</div>
