mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--box-border);
  border-radius: var(--smallBorderRadius);
}

mat-card-content {
  width: 100%;
}

:host {
  width: 100%;
}

.form-content {
  display: flex;
  gap: 48px;
  justify-content: center;
  padding: 32px 0;
}

.form-col {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  justify-content: space-evenly;
  padding: 0;
}

mat-form-field {
  width: 350px;
}

h1 {
  text-align: center;
}
